<div class="wrapper">
    <nav id="sidebar">
     
      
      
      <ul class="list-unstyled components">
       
          <li>
              <a href="#phone" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Celulares</a>
              <ul class="collapse list-unstyled" id="phone">
                <li>
                  <a href="#">page1</a>
                </li>
                <li>
                  <a href="#">page2</a>
                </li>
                <li>
                  <a href="#">page3</a>
                </li>
              </ul> 
            </li>
        <li>
          <a href="#tablets" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Tablets</a>
          <ul class="collapse list-unstyled" id="tablets">
            <li>
              <a href="#">page1</a>
            </li>
            <li>
              <a href="#">page2</a>
            </li>
            <li>
              <a href="#">page3</a>
            </li>
          </ul> 
        </li>
        <li>
            <a href="#camera" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Camaras</a>
            <ul class="collapse list-unstyled" id="camera">
              <li>
                <a href="#">page1</a>
              </li>
              <li>
                <a href="#">page2</a>
              </li>
              <li>
                <a href="#">page3</a>
              </li>
            </ul> 
          </li>
             <li>
          <a href="#accesory" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Accesorios</a>
          <ul class="collapse list-unstyled" id="accesory">
            <li>
              <a href="#">page1</a>
            </li>
            <li>
              <a href="#">page2</a>
            </li>
            <li>
              <a href="#">page3</a>
            </li>
          </ul> 
        </li>
        
      </ul>
      
     
    </nav>

 </div>