<div class="div">
    <div class="row">
        
        <div class="col-md-9">
            <div class="container">
                <div class="card-columns">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="https://falabella.scene7.com/is/image/FalabellaCO/prod6630110?\\$lista123\\$" alt="Card image cap">
                        <div class="card-body r-all">
                            <div class="row  text-center">
                                <div class="col col-8">
                                    <h4>Celular Huawei P20 128GB</h4>
                                </div>
                                <div class="col col-4">
                                    <p class="card-text ">$1.799.90
                                    </p>
                                </div>
                            </div>
                            
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-danger">Mas detalles...</button>
                                    <!-- <button type="button" class="btn btn-sm btn-danger">Edit</button> -->
                                </div>
                                <small class="text-muted ml-auto">stock</small>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="https://www.evisionstore.com/catalogo/huawei_jkmlx3.jpg" alt="Card image cap">
                        <div class="card-body r-all">
                            <div class="row  text-center">
                                <div class="col col-8">
                                    <h4>HUAWEI JKMLX3,
                                        Celular Y9 2019 Huawei</h4>
                                </div>
                                <div class="col col-4">
                                    <p class="card-text ">$239.95
                                    </p>
                                </div>
                            </div>
                            
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-danger">Mas detalles...</button>
                                    <!-- <button type="button" class="btn btn-sm btn-danger">Edit</button> -->
                                </div>
                                <small class="text-muted ml-auto">stock</small>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="https://cdn.totalcode.com.co/ibg/product-thumb/es/celular-huawei-mate-10-lite-negro-1.jpg" alt="Card image cap">
                        <div class="card-body r-all">
                            <div class="row  text-center">
                                <div class="col col-8">
                                    <h4>HUAWEI MATE 10 LITE</h4>
                                </div>
                                <div class="col col-4">
                                    <p class="card-text ">$1,003.70
                                    </p>
                                </div>
                            </div>
                            
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-danger">Mas detalles...</button>
                                    <!-- <button type="button" class="btn btn-sm btn-danger">Edit</button> -->
                                </div>
                                <small class="text-muted ml-auto">stock</small>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="https://http2.mlstatic.com/S_989801-MPE20437164851_102015-O.jpg" alt="Card image cap">
                        <div class="card-body r-all">
                            <div class="row  text-center">
                                <div class="col col-8">
                                    <h4>Lg G4 Stylus 3g Dual Sim H540, 8gb, 13mpx</h4>
                                </div>
                                <div class="col col-4">
                                    <p class="card-text ">$202.93
                                    </p>
                                </div>
                            </div>
                            
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-danger">Mas detalles...</button>
                                    <!-- <button type="button" class="btn btn-sm btn-danger">Edit</button> -->
                                </div>
                                <small class="text-muted ml-auto">stock</small>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="http://mlu-s1-p.mlstatic.com/937167-MLU28881565151_122018-O.jpg" alt="Card image cap">
                        <div class="card-body r-all">
                            <div class="row  text-center">
                                <div class="col col-8">
                                    <h4>Celular Lg 4g Lte 32gb 3gb Ram Octa Core </h4>
                                </div>
                                <div class="col col-4">
                                    <p class="card-text ">$309.00
                                    </p>
                                </div>
                            </div>
                            
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-danger">Mas detalles...</button>
                                    <!-- <button type="button" class="btn btn-sm btn-danger">Edit</button> -->
                                </div>
                                <small class="text-muted ml-auto">stock</small>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="https://cdn.totalcode.com.co/fondex/product-image/es/celular-samsung-galaxy-j4-dual-sim-32gb-red-4g-_-negro-1.jpg" alt="Card image cap">
                        <div class="card-body r-all">
                            <div class="row  text-center">
                                <div class="col col-8">
                                    <h4>Celular Samsung Galaxy J4 Dual SIM 32GB Red 4G - Negro</h4>
                                </div>
                                <div class="col col-4">
                                    <p class="card-text ">$569,90
                                    </p>
                                </div>
                            </div>
                            
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-danger">Mas detalles...</button>
                                    <!-- <button type="button" class="btn btn-sm btn-danger">Edit</button> -->
                                </div>
                                <small class="text-muted ml-auto">stock</small>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="https://tiendatelcel.com.mx/staticfronttt3/uploaded/equipos/samsung/A32017.jpg" alt="Card image cap">
                        <div class="card-body r-all">
                            <div class="row text-center">
                                <div class="col col-8">
                                    <h4>SAMSUNG SM-A320Y GALAXY A3 (2017)</h4>
                                </div>
                                <div class="col col-4">
                                    <p class="card-text ">$7,219
                                    </p>
                                </div>
                            </div>
                            
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-danger">Mas detalles...</button>
                                    <!-- <button type="button" class="btn btn-sm btn-danger">Edit</button> -->
                                </div>
                                <small class="text-muted ml-auto">stock</small>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="https://personal.vteximg.com.br/arquivos/ids/350752-400-400/Moto-Z3-Play-Negro-VBlack-Conexi-n-Total-Libre-1XL-1-253690.png?v=636771221151730000" alt="Card image cap">
                        <div class="card-body r-all">
                            <div class="row  text-center">
                                <div class="col col-8">
                                    <h4>Moto Z3 Play</h4>
                                </div>
                                <div class="col col-4">
                                    <p class="card-text ">$25.999
                                    </p>
                                </div>
                            </div>
                            
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-danger">Mas detalles...</button>
                                    <!-- <button type="button" class="btn btn-sm btn-danger">Edit</button> -->
                                </div>
                                <small class="text-muted ml-auto">stock</small>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="https://www.evisionstore.com/catalogo/motorola_xt163502.jpg" alt="Card image cap">
                        <div class="card-body r-all">
                            <div class="row  text-center">
                                <div class="col col-8">
                                    <h4>MOTOROLA XT163502</h4>
                                </div>
                                <div class="col col-4">
                                    <p class="card-text ">$356.95
                                    </p>
                                </div>
                            </div>
                            
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-danger">Mas detalles...</button>
                                    <!-- <button type="button" class="btn btn-sm btn-danger">Edit</button> -->
                                </div>
                                <small class="text-muted ml-auto">stock</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  