<main role="main">
        <div class="py-5 bg-light">
          <div class="container">
            <h1>CELULARES</h1>
            
              <div class="row">
                <div class="col-md-4">
    
                  <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" src="https://data1.ibtimes.co.in/cache-img-0-450/en/full/640680/1491926991_samsung-galaxy-s8.jpg">
                    <div class="card-body">
                      <div class="row text-center">
                        <div class="col col-8">
                          <h4>Samsung Galaxy S8</h4>
                        </div>
                        <div class="col col-4">
                          <p class="card-text bg-light-inverse">S/ 550.5</p>
                        </div>
                      </div>
                      <p class="card-text">Celular de gama media</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary" (click)="VerProducto(i)">Mas detalles...</button>
                          <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                        </div>
                        <small class="text-muted ml-auto">stock:</small> <label class="badge badge-info">Disponible</label>
                      </div>
                    </div>
                  </div>
    
                </div>
              </div>
            </div>
          </div>
    
        </main>