<div class="div">
    <div class="row">
        <div class="side">
            <app-sidevarrog></app-sidevarrog>
        </div>
        <div class="col-md-9">
            <div class="container">
                <div class="card-columns">
                    <div class="card c-c">
                        <img src="https://http2.mlstatic.com/se-celular-smartphone-samsung-galaxy-s8-64gb-12mp-gris-orq-D_NQ_NP_665848-MLM25941426759_092017-F.jpg"
                            class="card-img-top" alt="">
                        <div class="card-body">
                            <h3 class="card-title">Card title that wraps to a new line</h3>
                            <p class="card-text">This is a longer card with supporting .</p>
                            <button routerLink="/home" class="btn btn-danger ml-1 mr-4" id="b"><img src="../../../../assets/icons/flecha-de-volver.png"
                                    alt=""> Ver más</button>
                        </div>
                    </div>
                    <div class="card c-c">
                        <img src="https://via.placeholder.com/90x50" class="card-img-top" alt="">
                        <div class="card-body">
                            <h3 class="card-title">Card title that wraps to a new line</h3>
                            <p class="card-text">This is a longer card with supporting .</p>
                            <button routerLink="/home" class="btn btn-danger ml-1 mr-4" id="b"><img src="../../../../assets/icons/flecha-de-volver.png"
                                    alt=""> Ver más</button>
                        </div>
                    </div>
                    <div class="card c-c">
                        <img src="https://via.placeholder.com/90x50" class="card-img-top" alt="">
                        <div class="card-body">
                            <h3 class="card-title">Card title that wraps to a new line</h3>
                            <p class="card-text">This is a longer card with supporting .</p>
                            <button routerLink="/home" class="btn btn-danger ml-1 mr-4" id="b"><img src="../../../../assets/icons/flecha-de-volver.png"
                                    alt=""> Ver más</button>
                        </div>
                    </div>
                    <div class="card c-c">
                        <img src="https://via.placeholder.com/90x50" class="card-img-top" alt="">
                        <div class="card-body">
                            <h3 class="card-title">Card title that wraps to a new line</h3>
                            <p class="card-text">This is a longer card with supporting .</p>
                            <button routerLink="/home" class="btn btn-danger ml-1 mr-4" id="b"><img src="../../../../assets/icons/flecha-de-volver.png"
                                    alt=""> Ver más</button>
                        </div>
                    </div>
                    <div class="card c-c">
                        <img src="https://via.placeholder.com/90x50" class="card-img-top" alt="">
                        <div class="card-body">
                            <h3 class="card-title">Card title that wraps to a new line</h3>
                            <p class="card-text">This is a longer card with supporting .</p>
                            <button routerLink="/home" class="btn btn-danger ml-1 mr-4" id="b"><img src="../../../../assets/icons/flecha-de-volver.png"
                                    alt=""> Ver más</button>
                        </div>
                    </div>
                    <div class="card c-c">
                        <img src="https://via.placeholder.com/90x50" class="card-img-top" alt="">
                        <div class="card-body">
                            <h3 class="card-title">Card title that wraps to a new line</h3>
                            <p class="card-text">This is a longer card with supporting .</p>
                            <button routerLink="/home" class="btn btn-danger ml-1 mr-4" id="b"><img src="../../../../assets/icons/flecha-de-volver.png"
                                    alt=""> Ver más</button>
                        </div>
                    </div>
                    <div class="card c-c">
                        <img src="https://via.placeholder.com/90x50" class="card-img-top" alt="">
                        <div class="card-body">
                            <h3 class="card-title">Card title that wraps to a new line</h3>
                            <p class="card-text">This is a longer card with supporting .</p>
                            <button routerLink="/home" class="btn btn-danger ml-1 mr-4" id="b"><img src="../../../../assets/icons/flecha-de-volver.png"
                                    alt=""> Ver más</button>
                        </div>
                    </div>
                    <div class="card c-c">
                        <img src="https://via.placeholder.com/90x50" class="card-img-top" alt="">
                        <div class="card-body">
                            <h3 class="card-title">Card title that wraps to a new line</h3>
                            <p class="card-text">This is a longer card with supporting .</p>
                            <button routerLink="/home" class="btn btn-danger ml-1 mr-4" id="b"><img src="../../../../assets/icons/flecha-de-volver.png"
                                    alt=""> Ver más</button>
                        </div>
                    </div>
                    <div class="card c-c">
                        <img src="https://via.placeholder.com/90x50" class="card-img-top" alt="">
                        <div class="card-body">
                            <h3 class="card-title">Card title that wraps to a new line</h3>
                            <p class="card-text">This is a longer card with supporting .</p>
                            <button routerLink="/home" class="btn btn-danger ml-1 mr-4" id="b"><img src="../../../../assets/icons/flecha-de-volver.png"
                                    alt=""> Ver más</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>