.div{
    margin-right: 0%;

}
.side{
    width: 255px;
    
    margin-left: 0.5rem;
}

.row{
    
    width: 101%;
}
.card-title:hover {
    text-decoration: underline;
}
.card{
    width: 290px;
    height: 32rem;
    /* padding: 0px; */
    border: 1px solid black;
    border-radius: 18px; 
    background-color: black;
    color: white;
    
}
.card-img-top{
    padding: 0;
    margin: 0;
    height: 18rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}