<div class="div">
  <div class="row">
      
      <div class="col-md-9">
          <div class="container">
              <div class="card-columns">
                  <div class="card mb-4 shadow-sm">
                      <img class="card-img-top" src="https://amgportatiles.com/350-home_default/tablet-samsung-galaxy-tab-4-10-16gb-sm-t530-negra-saldo.jpg" alt="Card image cap">
                      <div class="card-body r-all">
                          <div class="row  text-center">
                              <div class="col col-8">
                                  <h4>TABLET SAMSUNG GALAXY TAB 4 10" 16GB SM-T530 NEGRA </h4>
                              </div>
                              <div class="col col-4">
                                  <p class="card-text ">$164.13
                                  </p>
                              </div>
                          </div>
                          
                          <div class="d-flex justify-content-between align-items-center">
                              <div class="btn-group">
                                  <button type="button" class="btn btn-sm btn-danger">Mas detalles...</button>
                                  <!-- <button type="button" class="btn btn-sm btn-danger">Edit</button> -->
                              </div>
                              <small class="text-muted ml-auto">stock</small>
                          </div>
                      </div>
                  </div>
                  <div class="card mb-4 shadow-sm">
                      <img class="card-img-top" src="https://d2dctyer3ngjhx.cloudfront.net/images/products/417/MP00220000000417/SKUMP00220000417_lrg_a.jpg" alt="Card image cap">
                      <div class="card-body r-all">
                          <div class="row  text-center">
                              <div class="col col-8">
                                  <h4>Tablet Samsung TAB E 7.0 3G</h4>
                              </div>
                              <div class="col col-4">
                                  <p class="card-text ">$395.00
                                  </p>
                              </div>
                          </div>
                          
                          <div class="d-flex justify-content-between align-items-center">
                              <div class="btn-group">
                                  <button type="button" class="btn btn-sm btn-danger">Mas detalles...</button>
                                  <!-- <button type="button" class="btn btn-sm btn-danger">Edit</button> -->
                              </div>
                              <small class="text-muted ml-auto">stock</small>
                          </div>
                      </div>
                  </div>
                  <div class="card mb-4 shadow-sm">
                      <img class="card-img-top" src="https://tmimages.tailbase.com/prods/460276_400X400_2.jpg" alt="Card image cap">
                      <div class="card-body r-all">
                          <div class="row  text-center">
                              <div class="col col-8">
                                  <h4>Android Galaxy Tab A Tablet, Samsung SMT380NZSEXAC - Silver</h4>
                              </div>
                              <div class="col col-4">
                                  <p class="card-text ">$230.89
                                  </p>
                              </div>
                          </div>
                          
                          <div class="d-flex justify-content-between align-items-center">
                              <div class="btn-group">
                                  <button type="button" class="btn btn-sm btn-danger">Mas detalles...</button>
                                  <!-- <button type="button" class="btn btn-sm btn-danger">Edit</button> -->
                              </div>
                              <small class="text-muted ml-auto">stock</small>
                          </div>
                      </div>
                  </div>
                  <div class="card mb-4 shadow-sm">
                      <img class="card-img-top" src="https://checkout.hites.com/wcsstore/HitesCAS/images/catalog/400x400/COMPUTACION/772254001_0.jpg" alt="Card image cap">
                      <div class="card-body r-all">
                          <div class="row  text-center">
                              <div class="col col-8">
                                  <h4>Tablet Huawei Mediapad</h4>
                              </div>
                              <div class="col col-4">
                                  <p class="card-text ">$109.99
                                  </p>
                              </div>
                          </div>
                          
                          <div class="d-flex justify-content-between align-items-center">
                              <div class="btn-group">
                                  <button type="button" class="btn btn-sm btn-danger">Mas detalles...</button>
                                  <!-- <button type="button" class="btn btn-sm btn-danger">Edit</button> -->
                              </div>
                              <small class="text-muted ml-auto">stock</small>
                          </div>
                      </div>
                  </div>
                  <div class="card mb-4 shadow-sm">
                      <img class="card-img-top" src="http://iotmk48957.i.lithium.com/t5/image/serverpage/image-id/397i8E4B6590F08782E6/image-size/medium?v=mpbl-1&px=-1" alt="Card image cap">
                      <div class="card-body r-all">
                          <div class="row  text-center">
                              <div class="col col-8">
                                  <h4>Huawei-Mediapad-M1-8</h4>
                              </div>
                              <div class="col col-4">
                                  <p class="card-text ">$$$$
                                  </p>
                              </div>
                          </div>
                          
                          <div class="d-flex justify-content-between align-items-center">
                              <div class="btn-group">
                                  <button type="button" class="btn btn-sm btn-danger">Mas detalles...</button>
                                  <!-- <button type="button" class="btn btn-sm btn-danger">Edit</button> -->
                              </div>
                              <small class="text-muted ml-auto">stock</small>
                          </div>
                      </div>
                  </div>
                  <div class="card mb-4 shadow-sm">
                      <img class="card-img-top" src="https://falabella.scene7.com/is/image/Falabella/5931726?\\$lista123\\$" alt="Card image cap">
                      <div class="card-body r-all">
                          <div class="row  text-center">
                              <div class="col col-8">
                                  <h4>LENOVO Tablet 10"</h4>
                              </div>
                              <div class="col col-4">
                                  <p class="card-text ">$109.990
                                  </p>
                              </div>
                          </div>
                          
                          <div class="d-flex justify-content-between align-items-center">
                              <div class="btn-group">
                                  <button type="button" class="btn btn-sm btn-danger">Mas detalles...</button>
                                  <!-- <button type="button" class="btn btn-sm btn-danger">Edit</button> -->
                              </div>
                              <small class="text-muted ml-auto">stock</small>
                          </div>
                      </div>
                  </div>
                  <div class="card mb-4 shadow-sm">
                      <img class="card-img-top" src="https://mlstaticquic-a.akamaihd.net/tablet-lenovo-x-103f-101-16gb-android-gps-wifi-D_NQ_NP_602101-MLU27180735494_042018-F.jpg" alt="Card image cap">
                      <div class="card-body r-all">
                          <div class="row text-center">
                              <div class="col col-8">
                                  <h4>Tablet Lenovo X-103f. 10,1". 16gb. Android. Gps. Wifi</h4>
                              </div>
                              <div class="col col-4">
                                  <p class="card-text ">$169.00
                                  </p>
                              </div>
                          </div>
                          
                          <div class="d-flex justify-content-between align-items-center">
                              <div class="btn-group">
                                  <button type="button" class="btn btn-sm btn-danger">Mas detalles...</button>
                                  <!-- <button type="button" class="btn btn-sm btn-danger">Edit</button> -->
                              </div>
                              <small class="text-muted ml-auto">stock</small>
                          </div>
                      </div>
                  </div>
                  <div class="card mb-4 shadow-sm">
                      <img class="card-img-top" src="https://mlstaticquic-a.akamaihd.net/tablet-ipad-mini-D_NQ_NP_693064-MLU29099447945_012019-F.jpg" alt="Card image cap">
                      <div class="card-body r-all">
                          <div class="row  text-center">
                              <div class="col col-8">
                                  <h4>Tablet Apple Ipad Mini 2 A1490 7.9 Dual Core 1gb 64gb Gris</h4>
                              </div>
                              <div class="col col-4">
                                  <p class="card-text ">$14.225
                                  </p>
                              </div>
                          </div>
                          
                          <div class="d-flex justify-content-between align-items-center">
                              <div class="btn-group">
                                  <button type="button" class="btn btn-sm btn-danger">Mas detalles...</button>
                                  <!-- <button type="button" class="btn btn-sm btn-danger">Edit</button> -->
                              </div>
                              <small class="text-muted ml-auto">stock</small>
                          </div>
                      </div>
                  </div>
                  <div class="card mb-4 shadow-sm">
                      <img class="card-img-top" src="https://mlstaticquic-a.akamaihd.net/apple-tablet-79-ipad-mini-32-gb-512mb-ram-ref-segurcell-D_NQ_NP_717367-MLU26897421520_022018-F.jpg" alt="Card image cap">
                      <div class="card-body r-all">
                          <div class="row  text-center">
                              <div class="col col-8">
                                  <h4>Apple - Tablet 7,9 Ipad Mini 32 Gb 512mb Ram Ref Segurcell</h4>
                              </div>
                              <div class="col col-4">
                                  <p class="card-text ">$280.00
                                  </p>
                              </div>
                          </div>
                          
                          <div class="d-flex justify-content-between align-items-center">
                              <div class="btn-group">
                                  <button type="button" class="btn btn-sm btn-danger">Mas detalles...</button>
                                  <!-- <button type="button" class="btn btn-sm btn-danger">Edit</button> -->
                              </div>
                              <small class="text-muted ml-auto">stock</small>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
