<div class="row m-auto mt-5">
  <div class="col col-8 m-auto">
    <form class="form-group" (ngSubmit)="registrarProducto()">

      <div class="row">

        <div class="col col-4 form-group">
          <label for="">Usuario:</label>
        </div>

        <div class="col col-8">
          <input type="text" class="form-control" name="user.user_name" placeholder="Daniele"
            [(ngModel)]="user.user_name">
        </div>

      </div>

      <div class="row">
        <div class="col col-4">
          <label for="">Nombre de producto:</label>
        </div>
        <div class="col col-8">
          <input type="text" class="form-control" name="prod_name" placeholder="iPhone plus"
            [(ngModel)]="prod_name">
        </div>
      </div>

      <div class="row">
        <div class="col col-4">
          <label for="">Precio:</label>
        </div>
        <div class="col col-8">
          <input type="text" class="form-control" name="prod_price" placeholder="730.0"
            [(ngModel)]="prod_price">
        </div>
      </div>

      <div class="row">
        <button class="btn btn-success p-1 mr-3" type="submit">Registrar</button>
        <button class="btn btn-info p-1" routerLink="/shop-list">Ir al carrito</button>
      </div>
    </form>
  </div>
</div>