<div class="social">
    <a href="https://www.facebook.com/Caesar-Store-228163191426980/" target="_blank" class="icon-facebook2"><img src="../../../assets/icons/facebook-logo.png" alt=""></a>
</div>
<div class="social1">
    <a href="https://twitter.com/StoreCaesar" target="_blank" class="icon-twitter"><img src="../../../assets/icons/simbolo-de-twitter.png" alt=""></a>
</div>
<div class="social2">
    <a href="" target="_blank" class="icon-gmail"><img src="../../../assets/icons/gmail.png" alt=""></a>
</div>
<div class="social3">
    <a href="https://www.instagram.com/caesarstore4/?hl=es-la" target="_blank" class="icon-instagram"><img src="../../../assets/icons/instagram.png" alt=""></a>
</div>
<div class="social4">
    <a href="" class="icon-whatsapp"><img src="../../../assets/icons/whatsapp-logo.png" alt=""></a>
</div>