/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Economica');
body {
    margin: 0%;
    font-family: 'Economica', sans-serif !important;
   
}
p,h1,h2,h3,h4,h5{
    color: white !important;
}



@media (max-width: 2000px) {
    #s {
        border-style: solid;
        border-width: 1px;
        border-radius: 4px;
        padding-right: 0px;
        padding-left: 0px;
        width: 270px;
        margin-right: 25px;
    }
    #s:hover {
        -webkit-box-shadow: -1px 11px 16px 2px rgba(0, 0, 0, 0.41);
        -moz-box-shadow: -1px 11px 16px 2px rgba(0, 0, 0, 0.41);
        box-shadow: -1px 11px 16px 2px rgba(0, 0, 0, 0.41);
    }
    #sl:hover {
        -webkit-box-shadow: 7px 11px 29px -4px rgba(0, 0, 0, 0.32);
        -moz-box-shadow: 7px 11px 29px -4px rgba(0, 0, 0, 0.32);
        box-shadow: 7px 11px 29px -4px rgba(0, 0, 0, 0.32);
    }
}
@media (max-width: 765px) {
    #s {
        margin-top: 4rem;
        width: 330px;
        margin-bottom: 10rem;
    }
    .s {
        margin-left: 2rem;
        margin-right: 15px;
    }
    #s:hover {
        -webkit-box-shadow: -1px 11px 16px 2px rgba(0, 0, 0, 0.41);
        -moz-box-shadow: -1px 11px 16px 2px rgba(0, 0, 0, 0.41);
        box-shadow: -1px 11px 16px 2px rgba(0, 0, 0, 0.41);
    }
    #sl:hover {
        -webkit-box-shadow: 7px 11px 29px -4px rgba(0, 0, 0, 0.32);
        -moz-box-shadow: 7px 11px 29px -4px rgba(0, 0, 0, 0.32);
        box-shadow: 7px 11px 29px -4px rgba(0, 0, 0, 0.32);
    }
}


.main-container {
    margin-top: 40px;
    margin-bottom: 150px;
}

.marginbutton {
    margin: 10px;
}

.puntero {
    cursor: pointer;
}

.w120 {
    width: 100px;
}
 /* app-redes{
        display: none !important;
    } */


/* Animaciones */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

@media (max-width: 780px) {
    app-redes{
        display: none !important;
    }
    
}
@media (max-width: 480px) {
    app-redes{
        display: none !important;
    }

}
.r-all{
    background-color: #2B1058;
    height: 10rem !important;
}
:root {
    --jumbotron-padding-y: 3rem;
  }
  
  .jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #fff;
  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: calc(var(--jumbotron-padding-y) * 2);
      padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron-heading {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 40rem;
  }
  
  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  footer p {
    margin-bottom: .25rem;
  }
  .div{
    margin-left: 18rem !important;
    

}
