<h1>Celulares</h1>
<br>

<div class="row ">
    <div class="col-md-12 text-right">
        <button [routerLink]="['/celular','nuevo']" class="btn btn-outline-primary" type="button" name="button">Nuevo</button>
    </div>
</div>
<br>
<div class="row animated fadeIn fast">
    <div class="col-md-12">
        <div class="table-responsive">
            <div class="table">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">id</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Marca</th>
                            <th scope="col">Stock</th>
                            <th scope="col">Estado</th>
                            <th scope="col" class="text-right">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let k of celulares | keys; let i = index">
                            <th scope="row">{{ i+1}}</th>
                            <td></td>
                            <td>{{ celulares[k].pro_nam }}</td>
                            <td>{{ celulares[k].pro_pri }}</td>
                            <td>{{ celulares[k].pro_marca }}</td>
                            <td>{{ celulares[k].cantidad }}</td>
                            <td>estado</td>
                            <td class="text-right w-120">
                                <button [routerLink]="['/celular',k]" type="button" class="btn btn-outline-success w120">Editar</button>
                                <button (click)="borrarCelular(k)" type="button" class="btn btn-outline-danger w120 marginbutton">Borrar</button>

                            </td>

                        </tr>

                    </tbody>
                </table>
                <div *ngIf="( celulares | keys).length === 0 && !loading" class="alert alert-info" role="alert">
                    <strong>No hay</strong> registros que mostrar
                </div>
                <div *ngIf="loading" class="alert alert-warning" role="alert">
                    <strong>Cargando....</strong> por favor espere
                </div>
            </div>
        </div>
    </div>
</div>