<h1>
    Smartphone
</h1>

<div class="container">
    <div class="card-columns">
        <div class="card">
            <img src="https://via.placeholder.com/90x50" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Card title that wraps to a new line</h5>
                <p class="card-text">This is a longer card with supporting .</p>
                <button routerLink="/home" class="btn btn-primary ml-1 mr-4" id="b"><img src="../../../../assets/icons/flecha-de-volver.png" alt=""> Ver más</button>
            </div>
        </div>
    </div>
</div>