<div class="row m-auto mt-5">
  <div class="col col-8 m-auto">
    <form (submit)="registrarproduct()" class="form-group">

      <div class="row">

        <div class="col col-4 form-group">
          <label for="">Usuario:</label>
        </div>

        <div class="col col-8">
          <input type="text" class="form-control" name="user.user_name" placeholder="Daniele"
            [(ngModel)]="user.user_name">
        </div>

      </div>

      <div class="row">
        <div class="col col-4">
          <label for="">Nombre:</label>
        </div>
        <div class="col col-8">
          <input type="text" class="form-control" name="purchase.purch_prod" placeholder="iPhone plus"
            [(ngModel)]="purchase.purch_prod">
        </div>
      </div>

      <div class="row">
        <div class="col col-4">
          <label for="">Precio:</label>
        </div>
        <div class="col col-8">
          <input type="text" class="form-control" name="purchase.purch_price" placeholder="730.0"
            [(ngModel)]="purchase.purch_price">
        </div>
      </div>

      <div class="row">
        <div class="col col-4">
          <label for="">Estado:</label>
        </div>
        <div class="col col-8">
          <input type="text" class="form-control" name="purchase.purch_state" placeholder="Correcto"
            [(ngModel)]="purchase.purch_state">
        </div>
      </div>

      <div class="row">
        <button class="btn btn-success p-1 mr-3" type="submit">Registrar</button>
        <button class="btn btn-info p-1" routerLink="/shop-list">Ir al carrito</button>
      </div>
    </form>
  </div>
</div>