<div class="div">
  <div class="row">

    <div class="col-md-9">
      <div class="container">
        <div class="card-columns">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top"
              src="https://www.samys.com/imagesproc/L2ltYWdlcy9wcm9kdWN0L21haW4vUy0wNDc0Nzl4MTUwMC5qcGc=_H_SH400_MW400.jpg"
              alt="Card image cap">
            <div class="card-body r-all">
              <div class="row  text-center">
                <div class="col col-8">
                  <h4>Canon EOS 5D Mark IV Digital SLR Camera Body</h4>
                </div>
                <div class="col col-4">
                  <p class="card-text ">$2,999.00
                  </p>
                </div>
              </div>

              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-danger">Mas detalles...</button>
                  <!-- <button type="button" class="btn btn-sm btn-danger">Edit</button> -->
                </div>
                <small class="text-muted ml-auto">stock</small>
              </div>
            </div>
          </div>
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top"
              src="https://i5.walmartimages.com/asr/dbe51dfc-4126-4141-8cb9-313110c12a4d_1.408c3f08096b19a622fd0312fd70f9db.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF"
              alt="Card image cap">
            <div class="card-body r-all">
              <div class="row  text-center">
                <div class="col col-8">
                  <h4>Canon G7X Mark II PowerShot 20.1MP BLACK Digital Camera</h4>
                </div>
                <div class="col col-4">
                  <p class="card-text ">$469.00
                  </p>
                </div>
              </div>

              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-danger">Mas detalles...</button>
                  <!-- <button type="button" class="btn btn-sm btn-danger">Edit</button> -->
                </div>
                <small class="text-muted ml-auto">stock</small>
              </div>
            </div>
          </div>
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top"
              src="https://www.galaxyandorra.es/8134-home_default/canon-sx620-garantia-espanola.jpg"
              alt="Card image cap">
            <div class="card-body r-all">
              <div class="row  text-center">
                <div class="col col-8">
                  <h4>Canon Sx620 </h4>
                </div>
                <div class="col col-4">
                  <p class="card-text ">$224.40
                  </p>
                </div>
              </div>

              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-danger">Mas detalles...</button>
                  <!-- <button type="button" class="btn btn-sm btn-danger">Edit</button> -->
                </div>
                <small class="text-muted ml-auto">stock</small>
              </div>
            </div>
          </div>
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top"
              src="https://gd.image-gmkt.com/BEST-PRICE-SONY-CYBER-SHOT-DSC-WX500-DIGITAL-CAMERA-BLACK/li/798/898/534898798.g_400-w_g.jpg"
              alt="Card image cap">
            <div class="card-body r-all">
              <div class="row  text-center">
                <div class="col col-8">
                  <h4>Sony Cyber-shot DSC-WX500 Digital Camera BLACK</h4>
                </div>
                <div class="col col-4">
                  <p class="card-text ">$589.00
                  </p>
                </div>
              </div>

              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-danger">Mas detalles...</button>
                  <!-- <button type="button" class="btn btn-sm btn-danger">Edit</button> -->
                </div>
                <small class="text-muted ml-auto">stock</small>
              </div>
            </div>
          </div>
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top"
              src="https://www.samys.com/imagesproc/L2ltYWdlcy9wcm9kdWN0L21haW4vUy0wNTYyMDd4MjAwMF8xLmpwZw==_H_SH400_MW400.jpg"
              alt="Card image cap">
            <div class="card-body r-all">
              <div class="row  text-center">
                <div class="col col-8">
                  <h4>Sony Alpha a7 III Mirrorless Digital Camera Body</h4>
                </div>
                <div class="col col-4">
                  <p class="card-text ">$1,998.00
                  </p>
                </div>
              </div>

              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-danger">Mas detalles...</button>
                  <!-- <button type="button" class="btn btn-sm btn-danger">Edit</button> -->
                </div>
                <small class="text-muted ml-auto">stock</small>
              </div>
            </div>
          </div>
          <div class="card mb-4 shadow-sm" style="margin-top:3.7rem;">
            <img class="card-img-top" src="https://i.blogs.es/fbfe30/a7rii/450_1000.jpg" alt="Card image cap">
            <div class="card-body r-all ">
              <div class="row  text-center">
                <div class="col col-8">
                  <h4>CSC Sony A7R II</h4>
                </div>
                <div class="col col-4">
                  <p class="card-text ">$$$$
                  </p>
                </div>
              </div>

              <div class="d-flex justify-content-between align-items-center ">
                <div class="btn-group ">
                  <button type="button" class="btn btn-sm btn-danger">Mas detalles...</button>
                  <!-- <button type="button" class="btn btn-sm btn-danger">Edit</button> -->
                </div>
                <small class="text-muted ml-auto">stock</small>
              </div>
            </div>
          </div>
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top"
              src="https://www.samys.com/imagesproc/L2ltYWdlcy9wcm9kdWN0L21haW4vUy0wNDgzNzd4MTUwMF8xLmpwZw==_H_SH400_MW400.jpg"
              alt="Card image cap">
            <div class="card-body r-all">
              <div class="row text-center">
                <div class="col col-8">
                  <h4>Panasonic LUMIX DC-GH5 Mirrorless Micro Four Thirds Digital Camera </h4>
                </div>
                <div class="col col-4">
                  <p class="card-text ">$1,597.99
                  </p>
                </div>
              </div>

              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group ">
                  <button type="button" class="btn btn-sm btn-danger">Mas detalles...</button>
                  <!-- <button type="button" class="btn btn-sm btn-danger">Edit</button> -->
                </div>
                <small class="text-muted ml-auto">stock</small>
              </div>
            </div>
          </div>
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top"
              src="https://www-konga-com-res.cloudinary.com/w_auto,f_auto,fl_lossy,dpr_auto,q_auto/media/catalog/product/F/u/Full-HD-Camcoder-Camera-7916033.jpg"
              alt="Card image cap">
            <div class="card-body r-all">
              <div class="row  text-center">
                <div class="col col-8">
                  <h4>Panasonic Full HD Camcoder Camera</h4>
                </div>
                <div class="col col-4">
                  <p class="card-text ">$120.00
                  </p>
                </div>
              </div>

              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-danger">Mas detalles...</button>
                  <!-- <button type="button" class="btn btn-sm btn-danger">Edit</button> -->
                </div>
                <small class="text-muted ml-auto">stock</small>
              </div>
            </div>
          </div>
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top"
              src="http://2crazy.com/345-home_default/panasonic-hc-mdh2-1080p-full-hd-flash-memory-camcorder-21x-optical-zoom-black.jpg"
              alt="Card image cap">
            <div class="card-body r-all">
              <div class="row  text-center">
                <div class="col col-8">
                  <h4>Panasonic HC-MDH2 1080p Full HD Flash Memory Camcorder - 21x Optical Zoom</h4>
                </div>
                <div class="col col-4">
                  <p class="card-text ">$790.00
                  </p>
                </div>
              </div>

              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-danger">Mas detalles...</button>
                  <!-- <button type="button" class="btn btn-sm btn-danger">Edit</button> -->
                </div>
                <small class="text-muted ml-auto">stock</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>