  <main role="main">

      <div class="py-5 bg-light">
        <div class="container">

          <div class="row">
            <div class="col-md-4" *ngFor="let product of productos; let i=index;">

              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="http://placehold.it/200x200" alt="Card image cap">
                <div class="card-body">
                  <div class="row text-center">
                    <div class="col col-8">
                      <h4>{{product.pro_nam}}</h4>
                    </div>
                    <div class="col col-4">
                      <p class="card-text bg-light-inverse">{{product.pro_pri|currency:'S/':true:'1.2-2'}}</p>
                    </div>
                  </div>
                  <p class="card-text">{{product.pro_des}}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary" (click)="VerProducto(i)">Mas detalles...</button>
                      <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                    </div>
                    <small class="text-muted ml-auto">stock:{{product.pro_sto}}</small>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

    </main>